services:
    blog-database:
        image: mysql:8.0
        container_name: "blog-database"
        ports:
            - "3306:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=123456
        volumes:
            - type: bind
              source: ./blog-database
              target: /docker-entrypoint-initdb.d
            - type: bind
              source: /opt/blog-app/database
              target: /var/lib/mysql
    blog-backend:
        image: blog-backend
        container_name: "blog-backend"
        environment:
            - DB_HOST=blog-database
            - DB_PORT=3306
            - DB_NAME=blog
            - DB_USER=root
            - DB_PASSWORD=123456
        depends_on:
            - "blog-database"
        links:
            - "blog-database"
    blog-frontend:
        image: blog-frontend
        container_name: "blog-frontend"
        ports:
            - "80:80"
        depends_on:
            - "blog-database"
            - "blog-backend"
        links:
            - "blog-backend"
        volumes:
            - type: bind
              source: /opt/blog-app/blog_share
              target: /srv/blog_share
            - type: bind
              source: /opt/blog-app/blog_live
              target: /srv/blog_live
            - type: bind
              source: /opt/blog-app/blog_content
              target: /srv/blog_content

